{% extends 'base.html' %}
{% block title %} About {% endblock title %}
{% block body %}

<h1 class="display-6 text-align" style="text-align: center">This is about page of Todo App</h1>
<div class="container">
<ul class="list-group">
    <li class="list-group-item list-group-item-dark">This is todo list app</li>
    <li class="list-group-item list-group-item-dark">You can fill your daily routines Todo's </li>
    <li class="list-group-item list-group-item-dark">It is like a work book of todo's</li>
    <li class="list-group-item list-group-item-dark">A simple default list group item</li>
</ul></div>

<button type="submit" class="btn btn-outline-success btn-sm mx-1"><a  href="/">Back</a></button>

<figure class="text-end">
    <blockquote class="blockquote">
      <p>A well-designed Todo App, contained Your All Todos.</p>
    </blockquote>
    <figcaption class="blockquote-footer">
      Made by Creature Trendy website of <cite title="Source Title">Pushpendra</cite>
    </figcaption>
  </figure>

{% endblock body %}